.AfterSalesPolicy_main{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
._mian{
    width: 80%;
    height: auto;
    margin: 6% auto;
}
._title{
    width: 10%;
    text-align: center;
    line-height: 200%;
    background: #333;
    color: #fff;
    margin-bottom: 5%;
}
._mian>p{
    line-height: 200%;
    margin: 2.5% 0;
}