/* personalTailor Content main css*/
._order{
    color: #84d8d1;
}
.personalTailor_main{
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    padding: 0;
    position: relative;
}
.main_div,.main_div>img{
    width: 100%;
    height: auto;
}
.personalTailor_button{
    width: 16%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 42%;
    bottom: 10.5%;
}
.personalTailor_button:hover{
    cursor: pointer;
}
.personalTailor_button>img{
    width: 100%;
    height: auto;
}
